@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #222;
}
body {
  font-size: 16px;
  word-break: keep-all;
  height: 3300px;
  font-family: "Gothic A1", serif;
  overflow-x: hidden;
}

/*모바일 버전*/
@media (max-width: 600px) {
  /*header*/
  header {
    margin: 0px auto;
    background-color: rgba(255, 255, 255, 0.8);
    /*header*/
    header {
      margin: 0px auto;
      position: fixed;
      z-index: 10;
      width: 100%;
      padding: 0.5rem 1rem;
      align-items: center;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
    }
    header a:hover {
      color: #ff6f09;
    }

    h1 {
      width: 6rem;
      height: 32px;
    }

    /*wrap01*/
    .wrap01 {
      display: flex;
      gap: 1rem;
    }

    .wrap02 {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    .menu {
      display: none;
    }

    .wrap02 {
      display: none;
    }

    .wrap02 .sponsor a:hover {
      color: #ff6f09;
    }
    .bars {
      font-size: 1.5rem;
      background-color: rgba(0, 0, 0, 0.5);
      width: 100%;
      position: absolute;
      left: 0rem;
      top: 0rem;
      height: 100vh;
      padding: 5rem 2rem;
      box-sizing: border-box;
      display: none;
    }

    .wrap02 {
      width: 100%;
      position: absolute;
      left: 0rem;
      top: 18rem;
      height: 100vh;
      line-height: 2.5rem;
      padding: 5rem 2rem;
      box-sizing: border-box;
      font-size: 1rem;
      display: none;
    }

    .menu {
      font-size: 1.5rem;
      margin: 1.2rem 0rem;
      text-align: left;
    }

    header a {
      color: #fff;
    }

    /*bars*/
    header .bars {
      font-size: 1.5rem;
      align-items: center;
      position: relative;
    }
    .close {
      position: absolute;
      top: 5%;
    }
    right: 0px;
    top: 0px;
    display: none;
  }

  /*visual*/
  .visual {
    width: 100%;
    height: 100vh;
    background-image: url(../img/img_intro_dx.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

    box-sizing: border-box;
  }
  .visual .txt01 {
    position: absolute;
    left: 5%;
    top: 60%;
  }
  .visual h2 {
    font-size: 2rem;
  }
  .visual p {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 1rem;
  }
  .visual .more {
    background-color: #fff;
    color: red;
    width: 5rem;
    padding: 0.5rem;
    border-radius: 5rem;
    border: 1px solid#ccc;
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;
    margin-top: 2rem;
  }

  .visual ul {
    display: none;
  }

  .visual li {
    background-color: #fff;
    height: 3rem;
    width: 3rem;
    text-align: center;
    line-height: 3rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  .visual .left {
    border-radius: 0rem 1.5rem;
  }
  .visual .right {
    border-radius: 1.5rem 0rem;
  }

  /*container*/
  .container {
    width: 90%;
    margin: 0rem auto;
  }
  /*con1*/
  .con1 {
    width: 100%;
  }
  .con1 ul {
    position: relative;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
  .con1 ul li div {
    text-align: center;
    margin: 1rem;
  }
  .con1 ul li p {
    font-size: 0.5rem;
    margin-top: 0.5rem;
  }
  .con1 ul li {
    width: 100%;
    height: 320px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: calc(100% / 2 - 1rem);
  }
  .con1 ul li img {
    width: 100%;
    height: 250px;
    border-radius: 0px 0px 10px 10px;
  }
  .con1 .txt1 {
    font-size: 1.5rem;
    text-align: center;
    margin: 2rem 0rem 1rem;
  }
  .con1 .txt2 {
    text-align: center;
    margin-bottom: 1rem;
  }
  .con1 .txt3 {
    text-align: center;
    color: orangered;
    margin-bottom: 1rem;
  }
  .con1 .mono {
    display: none;
  }
  .con1 .button {
    background-color: #fff;
    width: 80px;
    height: 80px;
    text-align: center;
    border-radius: 100%;
    position: absolute;
    left: 70%;
    bottom: -3%;
  }
  .con1 .button i {
    color: orangered;
    margin: 1rem 0rem 0rem;
    font-size: 1.5rem;
  }
  .con1 .button .txt4 {
    font-size: 0.8rem;
    margin-top: 0rem;
    font-weight: bold;
  }
  /*con2*/
  .con2 {
    width: 90%;
    margin: 3rem auto;
  }
  .con2 div {
    /* display: flex; */

    gap: 2rem;
  }
  .con2 h2 {
    font-size: 2.5rem;
  }
  .con2 h2 span {
    color: orangered;
  }
  .con2 ul .button01 {
    border: 2px solid #ff6f09;
    width: 80px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    font-size: 0.8rem;
  }
  .con2 .button01:hover {
    background-color: #ff6f09;
    color: #fff;
  }
  .con2 ul {
    display: flex;
    gap: 0.5rem;
    text-align: center;
    margin-top: 1rem;
  }
  .con2 .icon {
    margin-top: 2rem;
    width: 100%;
  }
  .con2 ul img {
    width: 100%;
    height: 100px;
    margin-bottom: 0.7rem;
  }
  .con2 h3 {
    font-size: 0.8rem;
  }
  .con2 ul p {
    font-size: 0.5rem;
  }
  .con2 ul .txt5 {
    font-weight: bold;
  }

  /**container con03**/
  .con03 {
    width: 100%;
    margin: 0px auto;
  }
  .con03 .good02 {
    display: none;
  }

  .con03 ul {
    display: flex;
    gap: 2.1rem;
  }

  .con03 img {
    width: 100%;
    height: 300px;
  }

  .con03 .txt03 {
    font-weight: bold;
    margin: 1rem 0rem;
  }
  .con03 .txt04 {
    font-size: 0.8rem;
    line-height: 1.5rem;
  }
  .con03 li {
    position: relative;
  }
  .con03 .bg {
    width: 100%;
    height: 150px;
    background-image: url(../img/smail.svg);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: 30%;
    top: 43%;
  }
  .con03 h3 {
    font-size: 2rem;
    text-align: center;
    margin: 2rem 0rem 1rem;
    line-height: 4rem;
  }
  .con03 .txt05 {
    font-size: 0.8rem;
    text-align: center;
    line-height: 1.5rem;
  }
  .con03 .box {
    background-color: #ff6f09;
    width: 100px;
    text-align: center;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 30px;
  }
  .con03 .box a {
    color: #fff;
    font-weight: bold;
  }

  /**con04**/
  .con04 {
    width: 100%;
    height: 100vh;
    background-image: url(../img/sub1-img1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 3rem;
  }
  .con04 .left05 {
    width: 40%;
  }
  .con04 .wrap {
    margin-top: 3rem;
    display: flex;
    gap: 1.5rem;
  }

  .con04 h3 {
    font-size: 1.5rem;
    text-align: left;
    margin: 3rem 0rem;
    line-height: 3rem;
  }
  .con04 .right05 {
    display: none;
  }
  .con04 .new {
    margin-top: 5rem;
  }
  .con04 li {
    background-color: #ffeabd;
    width: 60%;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
  }
  .con04 .txt06 {
    font-weight: bold;
    font-size: 0.6rem;
  }
  .con04 span {
    color: red;
    font-weight: bold;
  }
  .con04 .txt07 {
    font-weight: bold;
    margin: 1rem 0rem 5rem;
    font-size: 0.8rem;
  }
  .con04 .txt08 {
    font-size: 0.6rem;
    color: #ccc;
  }
  /*con5*/
  .con5 {
    width: 100%;
  }
  .con5 .wrap05 {
    width: 100%;
    height: 350px;
    margin: 0px auto;
    background-image: url(../img/뉴스레터.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
    border-radius: 20px;
  }
  .con5 .leftbox {
    position: absolute;
    left: 50%;
    top: 30%;
    line-height: 1.5rem;
    text-align: right;
  }
  .con5 .leftbox .letter {
    color: #ff6f09;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  .con5 .leftbox .newsletter {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .con5 .rightbox {
    display: none;
  }
  .con5 .bottombox {
    color: #fff;
    background-color: #ffbe74;
    width: 86%;
    padding: 1.5rem;
    border-radius: 1rem;
  }
  .con5 .bottombox p {
    font-size: 0.8rem;
    line-height: 1.5rem;
  }
  .con5 .bottombox ul {
    margin: 1rem 0rem;
    display: flex;
    gap: 0.5rem;
  }
  .con5 .bottombox li {
    font-size: 0.8rem;
    border: 1px solid#fff;
    border-radius: 2rem;
    padding: 0.8rem;
  }
  .con5 .bottombox .name {
    width: 5rem;
  }
  .con5 .bottombox .meil {
    width: 12rem;
  }
  .con5 .bottombox .sign {
    width: 6rem;
    text-align: center;
  }
  .con5 .bottombox .sign a {
    color: #ff6f09;
  }

  .con5 .bottombox .sign:hover {
    background-color: #fff;
  }

  .con5 .bottombox .agree {
    font-size: 0.8rem;
    word-wrap: break-word;
  }
  /*footer*/
  footer {
    width: 100%;

    margin: 0px auto;
    background-color: #ffeabd;

    padding: 2rem 4rem;
    box-sizing: border-box;
  }
  footer img {
    width: 200px;
    width: 60%;
  }

  footer .wrap03 {
    color: darkgray;
    font-weight: bold;
    padding-bottom: 2rem;
  }
  footer .wrap03 p {
    font-size: 1.8rem;
    padding-bottom: 1rem;
  }
  footer .wrap03 p {
    font-size: 4vw;
    margin-top: 1.5rem;
  }

  footer h2 {
    font-size: 3rem;
  }

  footer .txt02 p {
    font-size: 0.9rem;
    line-height: 2rem;
    font-size: 8vw;
  }

  footer .txt02 p {
    font-size: 3vw;
    line-height: 1.5rem;
    font-weight: bold;
  }

  footer ul {
    display: flex;

    gap: 2rem;
    font-size: 3rem;
    padding-top: 2rem;
    font-size: 5vw;
    padding-top: 1rem;
  }
}

/*태블릿*/
@media (min-width: 600px) and (max-width: 1220px) {
  /*header*/
  header {
    margin: 0px auto;
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    z-index: 10;
    width: 100%;
    padding: 0.8rem 1rem;
    align-items: center;
    box-sizing: border-box;
  }
  header a:hover {
    color: #ff6f09;
  }

  h1 {
    width: 5.5rem;
    height: 31.65px;
  }

  header div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 31.65px;
    width: 100%;
    margin: 0px auto;
    box-sizing: border-box;
    padding: 0rem 1rem;
  }
  /*wrap01*/
  .wrap01 {
    display: flex;
    gap: 1rem;
  }

  .wrap02 {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .wrap02 .sponsor,
  .receipt,
  .menu {
    font-size: 1.4vw;
    font-weight: bold;
  }

  .wrap02 .sponsor a {
    background-color: #ff6f09;
    color: #fff;
    padding: 1.3rem;
  }

  .wrap02 .sponsor a:hover {
    background-color: #ccc;
    color: #ff6f09;
  }
  .bars {
    display: none;
  }
  /*visual*/
  .visual {
    width: 100%;
    height: 500px;
    background-image: url(../img/비주얼.jpg);
    background-repeat: no-repeat;

    margin: 0px auto;
    position: relative;
  }
  .visual .txt01 {
    position: absolute;
    left: 2rem;
    top: 7rem;
  }
  .visual h2 {
    font-size: 3rem;
  }
  .visual p {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 1rem;
  }
  .visual .more {
    background-color: #fff;
    color: red;
    width: 5rem;
    padding: 0.5rem;
    border-radius: 5rem;
    border: 1px solid#ccc;
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;
    margin-top: 2rem;
  }
  .visual ul {
    display: flex;
    color: red;
    font-size: 1.5rem;
    position: absolute;
    left: 88%;
    top: 88%;
  }

  .visual li {
    background-color: #fff;
    height: 3rem;
    width: 3rem;
    text-align: center;
    line-height: 3rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  .visual .left {
    border-radius: 0rem 1.5rem;
  }
  .visual .right {
    border-radius: 1.5rem 0rem;
  }
  /*container*/
  .container {
    width: 100%;
    margin: 0px auto;
  }
  /*con1*/
  .con1 {
    width: 90%;
    margin: 0rem auto;
  }
  .con1 ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
    position: relative;
  }
  .con1 ul li div {
    margin: 1rem 0.3rem;
  }
  .con1 ul li p {
    font-size: 0.5rem;
    margin: 0.5rem;
  }
  .con1 h3 {
    margin: 0rem 0.5rem;
  }
  .con1 ul li {
    width: 100%;
    height: 275px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  .con1 ul li img {
    width: 100%;
    height: 200px;
    border-radius: 0px 0px 10px 10px;
  }
  .con1 .txt1 {
    font-size: 1.5rem;
    text-align: center;
    margin: 2rem 0rem 1rem;
  }
  .con1 .txt2 {
    text-align: center;
    margin-bottom: 1rem;
  }
  .con1 .txt3 {
    text-align: center;
    color: orangered;
    margin-bottom: 1rem;
  }
  .con1 .button {
    background-color: #fff;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 25px;
    position: absolute;
    left: 95%;
    bottom: 0%;
  }
  .con1 .button i {
    color: orangered;
    margin: 0.5rem 0rem 0rem;
  }
  .con1 .button .txt4 {
    font-size: 0.5rem;
    margin-top: 0rem;
  }
  /*con2*/
  .con2 {
    width: 90%;
    margin: 3rem auto;
  }
  .con2 div {
    display: flex;
    justify-content: space-between;
    padding: 0rem 6rem 4rem;
  }
  .con2 h2 {
    font-size: 3rem;
  }
  .con2 h2 span {
    color: orangered;
  }
  .con2 ul .button01 {
    border: 2px solid #ff6f09;
    width: 100px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
  }
  .con2 .button01:hover {
    background-color: #ff6f09;
    color: #fff;
  }
  .con2 ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
    text-align: center;
  }
  .con2 ul img {
    width: 80%;
    height: 150px;
    margin-bottom: 0.7rem;
  }
  .con2 h3 {
    font-size: 1.5rem;
  }
  .con2 ul p {
    font-size: 0.8rem;
  }
  .con2 ul .txt5 {
    font-weight: bold;
    margin: 0.2rem 0rem;
  }

  /**container con03**/
  .con03 {
    width: 90%;
    margin: 0px auto;
    height: 550px;
  }
  .con03 .good {
    display: none;
  }
  .con03 ul {
    display: flex;
    gap: 3rem;
    justify-content: space-between;
  }

  .con03 img {
    width: 100%;
    height: 410px;
  }
  .con03 .txt03 {
    margin: 1rem 0rem;
  }
  .con03 .txt03 {
    font-weight: bold;
  }
  .con03 .txt04 {
    font-size: 0.8rem;
    line-height: 1.5rem;
  }
  .con03 li {
    position: relative;
  }
  .con03 .bg {
    width: 200px;
    height: 150px;
    background-image: url(../img/smail.svg);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: 75%;
    top: 55%;
  }
  .con03 h3 {
    font-size: 2.5rem;
    text-align: center;
    margin: 2.5rem 0rem 2rem;
    line-height: 4rem;
  }
  .con03 .txt05 {
    font-size: 0.8rem;
    text-align: center;
    line-height: 1.5rem;
  }
  .con03 .box {
    background-color: #ff6f09;
    width: 100px;
    text-align: center;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 30px;
  }
  .con03 .box a {
    color: #fff;
    font-weight: bold;
  }
  .con03 .people {
    margin-top: 6rem;
  }
  /**con04**/
  .con04 {
    width: 90%;
    background-image: url(../img/main.jpg);

    background-repeat: no-repeat;
    background-size: cover;

    height: 465px;
    margin: 6rem auto;
  }
  .con04 .new {
    display: none;
  }
  .con04 .wrap {
    display: flex;
    gap: 10rem;
    justify-content: center;
  }

  .con04 h3 {
    font-size: 2rem;
    text-align: left;
    margin: 3rem 0rem;
    line-height: 3rem;
  }
  .con04 .right05 {
    display: flex;
  }
  .con04 li {
    background-color: #fff;
    width: 70%;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
  }
  .con04 .txt06 {
    font-weight: bold;
    font-size: 0.6rem;
  }
  .con04 span {
    color: red;
    font-weight: bold;
  }
  .con04 .txt07 {
    font-weight: bold;
    margin: 1rem 0rem 5rem;
    font-size: 0.8rem;
  }
  .con04 .txt08 {
    font-size: 0.6rem;
    color: #ccc;
  }
  /*con5*/
  .con5 {
    width: 100%;
    height: 350px;
    margin: 0px auto;
    background-image: url(../img/뉴스레터.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .con5 .leftbox {
    position: absolute;
    left: 5%;
    top: 5%;
    line-height: 1.5rem;
  }
  .con5 .leftbox .letter {
    color: #ff6f09;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  .con5 .leftbox .newsletter {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .con5 .rightbox {
    position: absolute;
    left: 48%;
    top: 30%;
    color: #fff;
    background-color: #ffbe74;
    width: 40%;
    padding: 2rem;
    border-radius: 1rem;
  }

  .con5 .rightbox p {
    font-size: 0.8rem;
    line-height: 1.5rem;
  }
  .con5 .rightbox ul {
    margin: 1rem 0rem;
    display: flex;
    gap: 0.5rem;
  }
  .con5 .rightbox li {
    font-size: 0.8rem;
    border: 1px solid#fff;
    border-radius: 2rem;
    padding: 0.8rem;
  }
  .con5 .rightbox .name {
    width: 5rem;
  }
  .con5 .rightbox .meil {
    width: 12rem;
  }
  .con5 .rightbox .sign {
    width: 6rem;
    text-align: center;
  }
  .con5 .rightbox .sign a {
    color: #ff6f09;
  }

  .con5 .rightbox .sign:hover {
    background-color: #fff;
  }

  .con5 .rightbox .agree {
    font-size: 0.8rem;
    word-wrap: break-word;
  }
  .con5 .bottombox {
    display: none;
  }
  /*footer*/
  footer {
    width: 100%;
    margin: 0px auto;
    background-color: #ffeabd;
    padding: 2rem 4rem;
    box-sizing: border-box;
  }
  footer img {
    width: 50%;
  }

  footer .wrap03 {
    color: darkgray;
    font-weight: bold;
    padding-bottom: 1rem;
  }
  footer .wrap03 p {
    font-size: 3vw;
    margin-top: 1.5rem;
  }

  footer h2 {
    font-size: 5vw;
  }

  footer .txt02 p {
    font-size: 3vw;
    line-height: 2rem;
    font-weight: bold;
  }
  footer ul {
    display: flex;
    gap: 2rem;
    font-size: 5vw;
    padding-top: 1rem;
  }
}

/*pc버전*/
@media (min-width: 1220px) {
  /*header*/
  header {
    margin: 0px auto;
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    z-index: 10;
    width: 100%;
    padding: 0.8rem 1rem;
    align-items: center;
    box-sizing: border-box;
  }
  header a:hover {
    color: #ff6f09;
  }

  h1 {
    width: 5.5rem;
    height: 31.65px;
  }

  header div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 31.65px;
    width: 1200px;
    margin: 0px auto;
    box-sizing: border-box;
    padding: 0rem 1rem;
  }
  /*wrap01*/
  .wrap01 {
    display: flex;
    gap: 1rem;
  }

  .wrap02 {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .wrap02 .sponsor,
  .receipt,
  .menu {
    font-size: 1rem;
    font-weight: bold;
  }

  .wrap02 .sponsor a {
    background-color: #ff6f09;
    color: #fff;
    padding: 1.3rem;
  }

  .wrap02 .sponsor a:hover {
    background-color: #ccc;
    color: #ff6f09;
  }
  .bars {
    display: none;
  }
  /*visual*/
  .visual {
    width: 1200px;
    height: 500px;
    background-image: url(../img/비주얼.jpg);
    background-repeat: no-repeat;

    margin: 0px auto;
    position: relative;
  }
  .visual .txt01 {
    position: absolute;
    left: 2rem;
    top: 7rem;
    overflow: hidden;
  }
  .visual h2 {
    font-size: 3rem;
  }
  .visual p {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 1rem;
  }
  .visual .more {
    background-color: #fff;
    color: red;
    width: 6rem;
    height: 40px;
    line-height: 40px;
    border-radius: 5rem;
    border: 1px solid#ccc;
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;
    margin-top: 2rem;
  }

  .visual ul {
    display: flex;
    color: red;
    font-size: 1.5rem;
    position: absolute;
    left: 88%;
    top: 88%;
  }

  .visual li {
    background-color: #fff;
    height: 3rem;
    width: 3rem;
    text-align: center;
    line-height: 3rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  .visual .left {
    border-radius: 0rem 1.5rem;
  }
  .visual .right {
    border-radius: 1.5rem 0rem;
  }

  /*container*/
  .container {
    width: 1200px;
    margin: 0px auto;
  }
  /*con1*/
  .con1 ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
    position: relative;
  }
  .con1 ul li div {
    margin: 1rem 0.3rem;
  }
  .con1 ul h3 {
    margin-left: 0.5rem;
  }
  .con1 ul li p {
    font-size: 0.5rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
  }
  .con1 ul li {
    width: 200px;
    height: 275px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  .con1 ul li img {
    width: 200px;
    height: 200px;
    border-radius: 0px 0px 10px 10px;
  }
  .con1 .txt1 {
    font-size: 1.5rem;
    text-align: center;
    margin: 2rem 0rem 1rem;
  }
  .con1 .txt2 {
    text-align: center;
    margin-bottom: 1rem;
  }
  .con1 .txt3 {
    text-align: center;
    color: orangered;
    margin-bottom: 1rem;
  }
  .con1 .button {
    background-color: #fff;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 25px;
    position: absolute;
    left: 90%;
    bottom: 10%;
  }
  .con1 .button i {
    color: orangered;
    margin: 0.5rem 0rem 0rem;
  }
  .con1 .button .txt4 {
    font-size: 0.5rem;
    margin-top: 0rem;
  }

  /*con2*/
  .con2 {
    width: 1200px;
    margin: 3rem auto;
  }
  .con2 div {
    display: flex;
    justify-content: space-between;
    padding: 0rem 6rem 4rem;
  }
  .con2 h2 {
    font-size: 3rem;
  }
  .con2 h2 span {
    color: orangered;
  }
  .con2 ul .button01 {
    border: 2px solid #ff6f09;
    width: 100px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
  }
  .con2 .button01:hover {
    background-color: #ff6f09;
    color: #fff;
  }
  .con2 ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
    text-align: center;
  }
  .con2 ul img {
    width: 150px;
    height: 150px;
    margin-bottom: 0.7rem;
  }
  .con2 h3 {
    font-size: 1.5rem;
  }
  .con2 ul p {
    font-size: 0.8rem;
  }
  .con2 ul .txt5 {
    font-weight: bold;
    margin: 0.2rem 0rem;
  }

  /**container con03**/
  .con03 {
    width: 100%;
    margin: 5rem auto;
    height: 550px;
  }
  .con03 .good {
    display: none;
  }
  .con03 ul {
    display: flex;
    gap: 3rem;
    justify-content: space-between;
  }

  .con03 img {
    width: 300px;
    height: 410px;
  }
  .con03 .txt03 {
    margin: 1rem 0rem;
  }
  .con03 .txt03 {
    font-weight: bold;
  }
  .con03 .txt04 {
    font-size: 0.8rem;
    line-height: 1.5rem;
  }
  .con03 li {
    position: relative;
  }
  .con03 .bg {
    width: 200px;
    height: 180px;
    background-image: url(../img/smail.svg);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: 70%;
    top: 48%;
  }
  .con03 h3 {
    font-size: 2.5rem;
    text-align: center;
    margin: 2.5rem 0rem 2rem;
    line-height: 4rem;
  }
  .con03 .txt05 {
    font-size: 0.8rem;
    text-align: center;
    line-height: 1.5rem;
  }
  .con03 .box {
    background-color: #ff6f09;
    width: 100px;
    text-align: center;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 30px;
    background-color: #ff6f09;
    width: 100px;
    text-align: center;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 30px;
  }
  .con03 .box a {
    color: #fff;
    font-weight: bold;
  }
  .con03 .people {
    margin-top: 6rem;
  }

  /**con04**/
  .con04 {
    width: 1200px;
    background-image: url(../img/main.jpg);

    background-repeat: no-repeat;
    background-size: cover;

    height: 465px;
    margin: 6rem auto;
  }
  .con04 .new {
    display: none;
  }
  .con04 .wrap {
    display: flex;
    gap: 5rem;
    justify-content: center;
  }

  .con04 h3 {
    font-size: 2rem;
    text-align: left;
    margin: 3rem 0rem;
    line-height: 3rem;
  }
  .con04 .right05 {
    display: flex;
    position: relative;
    height: 100%;
  }

  .con04 li {
    background-color: #fff;
    width: 150px;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
  }
  .con04 .txt06 {
    font-weight: bold;
    font-size: 0.6rem;
  }
  .con04 span {
    color: red;
    font-weight: bold;
  }
  .con04 .txt07 {
    font-weight: bold;
    margin: 1rem 0rem 5rem;
    font-size: 0.8rem;
  }
  .con04 .txt08 {
    font-size: 0.6rem;
    color: #ccc;
  }
  /*con5*/
  .con5 {
    width: 1200px;
    height: 350px;
    margin: 0px auto;
    background-image: url(../img/뉴스레터.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .con5 .leftbox {
    position: absolute;
    left: 3%;
    top: 5%;
    line-height: 1.5rem;
  }
  .con5 .leftbox .letter {
    color: #ff6f09;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  .con5 .leftbox .newsletter {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .con5 .rightbox {
    position: absolute;
    left: 50%;
    top: 30%;
    color: #fff;
    background-color: #ffbe74;
    width: 30rem;
    padding: 2rem;
    border-radius: 1rem;
  }

  .con5 .rightbox p {
    font-size: 0.8rem;
    line-height: 1.5rem;
  }
  .con5 .rightbox ul {
    margin: 1rem 0rem;
    display: flex;
    gap: 0.5rem;
  }
  .con5 .rightbox li {
    font-size: 0.8rem;
    border: 1px solid#fff;
    border-radius: 2rem;
    padding: 0.8rem;
  }
  .con5 .rightbox .name {
    width: 5rem;
  }
  .con5 .rightbox .meil {
    width: 12rem;
  }
  .con5 .rightbox .sign {
    width: 6rem;
    text-align: center;
  }
  .con5 .rightbox .sign a {
    color: #ff6f09;
  }

  .con5 .rightbox .sign:hover {
    background-color: #fff;
  }

  .con5 .rightbox .agree {
    font-size: 0.8rem;
    word-wrap: break-word;
  }
  .con5 .bottombox {
    display: none;
  }
  /*footer*/
  footer {
    width: 1200px;
    height: 280px;
    margin: 0px auto;
    background-color: #ffeabd;
    display: flex;
    justify-content: space-between;
    padding: 0rem 4rem;
    box-sizing: border-box;
    align-items: center;
  }
  footer img {
    width: 320px;
  }

  footer .wrap03 {
    color: darkgray;
    font-weight: bold;
  }
  footer .wrap03 p {
    text-align: right;
    font-size: 1.8rem;
  }

  footer h2 {
    font-size: 3.5rem;
    text-align: right;
  }

  footer .txt02 p {
    font-size: 1rem;
    line-height: 2rem;
    font-weight: bold;
    text-align: right;
  }

  footer ul {
    display: flex;
    justify-content: right;
    gap: 2rem;
    font-size: 3.8rem;
    padding-top: 3rem;
  }
}
