* {
  margin: 0px;
  padding: 0px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #222;
}

html,
body {
  font-size: 16px;
  font-family: "Nanum Gothic", serif;
}

/*pc버전*/

/*header*/
header {
  margin: 0px auto;

  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  z-index: 10;
  width: 100%;
  padding: 0rem 1rem;
  align-items: center;
  box-sizing: border-box;
}
header a:hover {
  color: #ff6f09;
}

h1 {
  width: 5rem;
  height: 31.65px;
}

header div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 31.65px;
  width: 1200px;
  margin: 0px auto;
  box-sizing: border-box;
  padding: 0rem 1rem;
}
/*wrap01*/
.wrap01 {
  display: flex;
  gap: 1rem;
}

.wrap02 {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.wrap02 .sponsor,
.receipt,
.menu {
  font-size: 0.8rem;
}

.wrap02 .sponsor a {
  background-color: red;
  padding: 10px;
}

.wrap02 .sponsor a:hover {
  background-color: #ccc;
}

/*visual*/
.visual {
  width: 1200px;
  height: 500px;
  background-image: url(../img/비주얼.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px auto;
  position: relative;
}
.visual .txt01 {
  position: absolute;
  left: 2rem;
  top: 7rem;
}
.visual h2 {
  font-size: 3rem;
}
.visual p {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1rem;
}
.visual .more {
  background-color: #fff;
  color: red;
  width: 5rem;
  padding: 0.5rem;
  border-radius: 5rem;
  border: 1px solid#ccc;
  text-align: center;
  font-size: 0.8rem;
  font-weight: bold;
  margin-top: 2rem;
}
.visual ul {
  display: flex;
  color: red;
  font-size: 1.5rem;
  position: absolute;
  left: 88%;
  top: 88%;
}

.visual li {
  background-color: #fff;
  height: 3rem;
  width: 3rem;
  text-align: center;
  line-height: 3rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.visual .left {
  border-radius: 0rem 1.5rem;
}
.visual .right {
  border-radius: 1.5rem 0rem;
}

/*con5*/
.con5 {
  width: 1200px;
  height: 350px;
  margin: 0px auto;
  background-image: url(../img/뉴스레터.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.con5 .leftbox {
  position: absolute;
  left: 3%;
  top: 5%;
  line-height: 1.5rem;
}
.con5 .leftbox .letter {
  color: #ff6f09;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.con5 .leftbox .newsletter {
  font-size: 1.2rem;
  font-weight: bold;
}

.con5 .rightbox {
  position: absolute;
  left: 50%;
  top: 30%;
  color: #fff;
  background-color: #ffbe74;
  width: 30rem;
  padding: 2rem;
  border-radius: 1rem;
}

.con5 .rightbox p {
  font-size: 0.8rem;
  line-height: 1.5rem;
}
.con5 .rightbox ul {
  margin: 1rem 0rem;
  display: flex;
  gap: 0.5rem;
}
.con5 .rightbox li {
  font-size: 0.8rem;
  border: 1px solid#fff;
  border-radius: 2rem;
  padding: 0.8rem;
}
.con5 .rightbox .name {
  width: 5rem;
}
.con5 .rightbox .meil {
  width: 12rem;
}
.con5 .rightbox .sign {
  width: 6rem;
  text-align: center;
}
.con5 .rightbox .sign a {
  color: #ff6f09;
}

.con5 .rightbox .sign:hover {
  background-color: #fff;
}

.con5 .rightbox .agree {
  font-size: 0.8rem;
  word-wrap: break-word;
}

/*footer*/
footer {
  width: 1200px;
  height: 280px;
  margin: 0px auto;
  background-color: #ffe1a1;
  display: flex;
  justify-content: center;
  gap: 5rem;
  align-items: center;
}
footer img {
  width: 300px;
}

footer .wrap03 {
  color: darkgray;
  font-weight: bold;
}
footer .wrap03 p {
  text-align: right;
  font-size: 1.2rem;
}

footer h2 {
  font-size: 3.2rem;
  text-align: right;
}

footer .txt02 p {
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: bold;
}

footer ul {
  display: flex;
  gap: 2rem;
  font-size: 5rem;
}
