* {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

a {
  color: #222;
  text-decoration: none;
}

html,
body {
  font-size: 16px;
  font-family: "Nanum Gothic", serif;
}

/*pc버전*/

/*con3*/
.con3 {
  width: 1200px;
  height: 600px;
  margin: 2rem auto;
  text-align: center;
  background-image: url(../img/con3배경.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.con3 h2 {
  color: #ff6f09;
  font-size: 2.3rem;
}

.con3 p {
  font-size: 0.8rem;
  margin: 2rem;
}
.con3 ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.con3 li {
  background-color: #ffbe74;
  padding: 2rem;
  border-radius: 1rem;
}

.con3 .number {
  background-color: #fff;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  border-radius: 100%;
  color: #ff6f09;
  font-weight: bold;
}

.con3 img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.con3 h4 {
  color: #fff;
  margin: 1.5rem;
}

.con3 .more {
  color: #ff6f09;
  font-weight: bold;
  background-color: #fff;
  width: 12rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  border-radius: 1rem;
  margin: 0px auto;
}

.con3 .more:hover {
  background-color: #ccc;
  color: #ff6f09;
}

/*con4*/

.con4 {
  width: 1200px;
  margin: 0px auto;
  text-align: center;
  box-sizing: border-box;
}

.con4 h2 {
  color: #ff6f09;
  font-size: 2.3rem;
  margin: 2rem;
}

.con4 .span {
  font-weight: bold;
  font-size: 1.2rem;
}

.con4 ul {
  display: flex;
  color: #fff;
  margin-top: 2rem;
  position: relative;
}

.con4 li {
  position: relative;
  text-align: center;
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 1.2rem;
}
.con4 li div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.con4 h4 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.con4 img {
  filter: brightness(50%);
  display: block;
}

.con4 a {
  color: #fff;
  background-color: #ff6f09;
  border: 1px solid#fff;
  width: 10rem;
  padding: 1rem 2.5rem;
  font-size: 1.3rem;
  color: #fff;
  border-radius: 3rem;
}
.con4 .spon {
  position: absolute;
  left: 85%;
  bottom: 10%;
}

.con4 a:hover {
  background-color: #ccc;
  color: #ff6f09;
}

/*footer*/
footer {
  width: 1200px;
  height: 280px;
  margin: 0px auto;
  background-color: #ffe1a1;
  display: flex;
  justify-content: center;
  gap: 5rem;
  align-items: center;
}
footer img {
  width: 300px;
}

footer .wrap03 {
  color: darkgray;
  font-weight: bold;
}
footer .wrap03 p {
  text-align: right;
  font-size: 1.2rem;
}

footer h2 {
  font-size: 3.2rem;
  text-align: right;
}

footer .txt02 p {
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: bold;
}

footer ul {
  display: flex;
  gap: 2rem;
  font-size: 3rem;
  text-align: right;
}
